body {
    background-color: #ffffff;
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 14px;
    margin: 0;
}

/**
 * ESTILOS BÁSICOS DO CARBO-FORM
 * vvvvvvvv
 */

form {
    padding: 16px 16px;
}

carbo-form-control {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 16px 16px;
}


paper-button {
    margin: 0 0 0 16px;
}

paper-button:first-child {
    margin: 0 0 0 0px;
}

paper-button.purple {
    background-color: #636;
    color: #fff;
}

carbo-form[state="invalid"] #invalid-message,
carbo-form[state="success"] #success-message,
carbo-form[state="error"] #error-message {
    opacity: 1;
    color: white;

    top: 50px;
    bottom: 50px;
    left: 50px;
    right: 50px;
}

#formloading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

paper-toast{
    min-width: 100px;
    right: 8px;
    left: 8px;
    bottom: 8px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

paper-toast span{
    color: #eeff41;
    cursor: pointer;
}

/**
 * ^^^^^^
 * ESTILOS BÁSICOS DO CARBO-FORM
 */

/**
 * ESTILOS BÁSICOS DO CARBO-GEO (by leualemax)
 * vvvvvv
 */
:host{
  font-family: sans-serif, open-sans;
  font-weight: 100;
}
google-map{
  height: 10rem;
}
paper-button{
  min-width: 5.14em;
  max-width: 35em;
  display: block;
}
#output{
  position: relative;
  min-width: 5.14em;
  max-width: 35em;
  margin: 0.29em;
  background: transparent;
  text-align: center;
  font: inherit;
  text-transform: uppercase;
  outline-width: 0;
  border-radius: 3px;
  border:0.1rem solid #ddd;
}
#output p {
  padding: 0rem 0.5rem;
}
#icon.rotate{
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
/**
 * ^^^^^^
 * ESTILOS BÁSICOS DO CARBO-GEO (by leualemax)
 */
