body {
  background-color: #FFFFFF;
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 14px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

page {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

paper-toolbar {
  background-color: #3f51b5;
  color: #FFFFFF;
}

/**
 * ESTILOS BÁSICOS DO CARBO-FORM
 * vvvvvvvv
 */

carbo-form-control {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  padding-top:16px;
  padding-bottom: 16px;
  padding-left: 0px;
  padding-right: 0px;

}

paper-button {
  margin-top: 16px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-size: 12px;
}

paper-button:first-child {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

paper-button.purple {
  background-color: #5c641b;
  color: #FFFFFF;
}

#test {
    padding-top:16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

carbo-form[state="invalid"] #invalid-message,
carbo-form[state="success"] #success-message,
carbo-form[state="error"] #error-message {
  opacity: 1;
  color: white;
  top: 50px;
  bottom: 50px;
  left: 50px;
  right: 50px;
}

#formloading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

paper-toast {
  min-width: 100px;
  right: 8px;
  left: 8px;
  bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

paper-toast span {
  color: #eeff41;
  cursor: pointer;
}

/**
 * ^^^^^^
 * ESTILOS BÁSICOS DO CARBO-FORM
 */
